.inner-container {
    margin-bottom: 50px;
}
.chat-input {
    display: flex;
    background: #F0F2F5;
    width: 80vw;
    margin: auto;
      @include tablet {
        width: 600px;
  }


textarea {
    background: white;
    font-size: 15px;
    padding: 20px;
    border: none;
    width: 80vw;
    resize: none;
    @include tablet {
        width: 600px;


    }
}
button {        
    background: white;
    border: none;
    }
img {
    background: white;
    border: none;
    width: 50px;
    height: 50px;
    }
}
.chat {
        font-family: sans-serif;
        width: 80vw;
        background: #F0F2F5;
        margin: auto;
        height: 500px;
        font-family: 'Roboto';
        overflow-Y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
         @include tablet {
        width: 600px;
    }
.chatContainer {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-weight: bold;
         }
    span  {
        color: black;
        font-size: 10px;
    }
    
    p {
        margin-top: 20px;
        float: left;
        font-size: 15px;
        padding: 15px;
        border-radius: 10px;
        font-family: sans-serif;
        font-weight: 300;
    }
}