.notices {
    margin: 30px auto;
    max-width: 800px;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(77,71,73);
    color: white;
    font-size: 17px;
  
        li {
            margin-bottom: 20px;
        }


}