.firstWeek {
  // max-width: 800px;
  max-width: 9y0vw;
  margin: 100px auto;
  font-weight: normal;
}
.planWorkHeading {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 30px;
  color: white;

}
.close {
  position: absolute;
  right: 20px;
  top: 2px;
  width: 15px;
  height: 32px;
}
@include close;
table {
  background-color: rgb(77,71,73);
}
  tr {
    border: 1px solid black;

  }
th {
  font-size: 8px;
  font-weight: bold;
  padding: 20px;
}
td {
  font-size: 8px;

}
td, th {
  font-family: 'Roboto', sans-serif;  
  padding: 5px;
  border: 1px solid rgb(125,91,58);
  color: rgb(216,215,220);
    width: 230px;

  @include tablet {
    font-size: 15px;
    padding: 10px 30px;
  }
}
