@import "fonts";
@import "reset";
@import "mixins";
@import "colours";
@import "form";
@import "mainView";
@import "workPlan";
@import "cast";
@import "reviews";
@import "regulations";
@import "contact";
@import "notes";
@import "chat";
@import "admin";
@import "notices";

body {
  font-family: 'Merriweather', serif;
  background-image: url("../assets/images/background_image.jpg");
  background-size: center;
  background-position: center;
    // width: 100%;
    // height: 100%;
  // background-repeat: round;
  // background-position: center;
  // background-repeat: no-repeat;
  // position: relative;
}