@import "fonts";
@import "reset";
@import "mixins";
@import "colours";
@import "form";
@import "mainView";
@import "workPlan";
@import "cast";
@import "reviews";
@import "regulations";
@import "contact";
@import "notes";
@import "chat";
@import "admin";

body {
  font-family: 'Merriweather', serif;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4b/Narodowe_Forum_Muzyki_we_Wroc%C5%82awiu%2C_Sala_G%C5%82%C3%B3wna.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 120vh;
}